{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Авторизация в Госуслугах Москвы{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if show_form %}
  <div>Введите логин и пароль от приложения Госуслуги Москвы</div>
  <form action="" method="post"> <!-- /alice-webhook/mos_auth/{{user_id}} -->
    <label for="username">Логин (Пример: 71234567890)</label>
    <input name="username" id="username" value="{{username}}" required>
    <label for="password">Пароль</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Авторизироваться">
  </form>
  {% endif %}
  <div><a>{{message}}</a></div>
{% endblock %}

